h1.something lorem sum 123
app-demo
app-demo2(passedVal="this is a passed value")
app-demo3
app-demo4
app-demo5
    app-dummy
    | demo for &lt;ng-content&gt; &amp; @ViewChild

router-outlet
    h2 router demo
    ul
        li
            a(routerLink="/")
                | home
        li
            a#test2(routerLink="/test2")
                | test2
        li
            a(routerLink="/test3")
                | test3 with resolver
        li
            a(routerLink="/test3", [queryParams]="{paramName: 'something'}")
                | test3 with resolver + param
app-template-form
app-reactive-form
